# Auto detect text files and perform LF normalization
* text=auto

## git-lfs ##
*Texture_1_Diffuse.psd filter=lfs diff=lfs merge=lfs -text
*Texture_2_Diffuse.psd filter=lfs diff=lfs merge=lfs -text
*Texture_3_Diffuse.psd filter=lfs diff=lfs merge=lfs -text
*Texture_4_Diffuse.psd filter=lfs diff=lfs merge=lfs -text
*Texture_5_Diffuse.psd filter=lfs diff=lfs merge=lfs -text
*Greeble_Materials_Windows_Metal.tga filter=lfs diff=lfs merge=lfs -text
*TerminateSetup.exe filter=lfs diff=lfs merge=lfs -text